html {
    transform-origin: top left;
    overflow-x: scroll;
}
body, html {
    background: white;
}

.material-icons-parent,
.material-icons-parent span {
    vertical-align: top;
}
#drawcanvases {
    border-radius: 5px;
    transform-origin: top left;
    position: relative;
    padding: 3px;
}

#canvas-info,
#canvas-drawing,
#canvas-drawn {
    border: 5px solid #aaa;
    position: absolute;
    top: 0;
    left: 0;
}
