[Unit]
Description=WebSocketForDrawchat
After=syslog.target network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/drawchat
ExecStart=/var/www/drawchat/mybin/ws_start.sh
Restart=always
KillMode=control-group
Restart=always

[Install]
WantedBy=multi-user.target
